.audio-btn-generic {
  position: relative;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background-color: #d62828;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.audio-btn-generic:hover {
  opacity: 0.85;
  transform: scale(1.05);
}
.audio-btn-generic:active {
  transform: scale(0.95);
}