/* src/components/Contenedor.css (ACTUALIZADO) */
.main-container {
    max-width: 1100px;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    /* Fondo blanco que contrasta con el body */
    background-color: #ffffff; 
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    flex-grow: 1;
}