.header {
	width: 100%;
	height: 170px;
	background-image: url("https://images.unsplash.com/photo-1523731407965-2430cd12f5e4");
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 20px;
}

.header-overlay {
	width: 100%;
	height: 100%;
	backdrop-filter: brightness(0.75);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.header h1 {
	font-size: 2rem;
	margin: 0;
	letter-spacing: 1px;
}

.header p {
	margin: 0;
	margin-top: 5px;
}
