.container-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f4f8; /* Color de fondo suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}